* {
  box-sizing: border-box;
}

html,
body {
  background-color: lightcyan;
}

.container {
  margin: 25% 10%;
}

/* Borders to help visualize */

li {
  border: .1px solid black;
}

#top {
  border: 2px solid orange;
}

#bottom {
  border: 2px red solid;
}


/* Top */
#title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.top:after {
  content: "";
  display: table;
  clear: both;
}

#input {
  width: 75%;
  align-content: center;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 0;
  border: none;
  padding: 10px;
  font-size: 16px;
}

#addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: right;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}
#addBtn:hover {
  background-color: #bbb;
}

/* Bottom */
/* Style ul li elements */
#bottom {
  align-content: right;
  clear:both;
}

#list {
  padding: 20px;
  clear:both;
  align-content: center;
  font-family: 'Montserrat', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  user-select: none;
}

ul li:hover {
  background: #C1DEE8;
}

ul li.checked {
  background: #888;
  text-decoration: line-through;
}

ul li.checked:hover {
  background: #C1E8DD
}

/* Add a checked mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: rgb(229, 148, 148);
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style a close button  */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the Add button */

